<div class="containee-fluid mt-5 service-style" id="serviceid">
    <div class="row">
        <div class="col-md-10  col-12 mx-auto">
            <h1 class="text-center main-heading">Our Services </h1>
            <p class="text-center sub-heading">grow your business with us</p>

            <div class="row">
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon"> <img src="https://i.imgur.com/6NKPrhO.png"> </div>
                            <h4>Settings</h4>
                            <p>Empowering your digital presence with cutting-edge web development solutions tailored to your unique business needs.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services speedup">
                            <div class="icon"> <img src="https://i.imgur.com/KMbnpFF.png"> </div>
                            <h4>Speedup</h4>
                            <p>Utilizing advanced optimization techniques to turbocharge your web services for lightning-fast performance.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services privacy">
                            <div class="icon"> <img src="https://i.imgur.com/AgyneKA.png"> </div>
                            <h4>Privacy</h4>
                            <p>Ensuring top-notch privacy and data security with industry-leading protocols to safeguard your online presence. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services backups">
                            <div class="icon"> <img src="https://i.imgur.com/vdH9LKi.png"> </div>
                            <h4>Backups</h4>
                            <p>Rest easy knowing your valuable data is safeguarded with automatic and reliable backup solutions. </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services ssl">
                            <div class="icon"> <img src="https://i.imgur.com/v6OnUqu.png"> </div>
                            <h4>SSL secured</h4>
                            <p>Protecting your data and users with rock-solid SSL encryption for a secure browsing experience.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services database">
                            <div class="icon"> <img src="https://i.imgur.com/VzjZw9M.png"> </div>
                            <h4>Database</h4>
                            <p>Managing and optimizing your databases with precision to deliver seamless performance and data integrity.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>